<html>

<body>
    <h4>Hi {{name}}, forgot your password?</h4>
    <p>That's okay, it happens to everyone! click on the following link to reset your password.</p>
    <h3>
        <a href="{{uri}}">Reset your password</a>
    </h3>
</body>

</html>