<html>

<body>
    <h4>Welcome ***REMOVED******REMOVED***name***REMOVED******REMOVED***, we're so happy you're here.</h4>
    <p>We hope you enjoy our social media platform. Click on the following link to verify your account.</p>
    <h3>
        <a href="***REMOVED******REMOVED***uri***REMOVED******REMOVED***">Verify your account</a>
    </h3>
</body>

</html>