<html>

<body>
    <h4>Welcome {{name}}, we're so happy you're here.</h4>
    <p>We hope you enjoy our social media platform. Click on the following link to verify your account.</p>
    <h3>
        <a href="{{uri}}">Verify your account</a>
    </h3>
</body>

</html>